.App {
  max-height: 600px;
  margin: 30px auto;
}

.app-header .logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
  padding: 20px 0;
}

.App footer {
  font-size: 14px;
  margin: 10px 0;
  text-align: center;
}
