body {
  background-color: white;
}

a {
  font-weight: bold;
  color: #01228a;
}

.App {
  max-height: 960px;
  margin: 0 auto;
}

.app-header .logo {
  max-width: 500px;
  display: block;
  margin: 0 auto;
  padding: 5px 0;
}

.App footer {
  font-size: 14px;
  margin: 10px 0;
  padding-bottom: 30px;
  text-align: center;
}
