.Meaning h3 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
}

.Meaning .definition {
  opacity: 0.9;
}

.Meaning .example {
  color: #0c3658;
  font-style: italic;
  margin-top: 10px;
}
