.Phonetic {
  margin: 20px 0;
}

.Phonetic a {
  border: 1px solid #ddd;
  background-color: gray;
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 20px;
  margin-right: 10px;
  font-size: 13px;
  transition: all 150ms ease-in-out;
  color: white;
}

.Phonetic a:hover {
  background-color: #ddd;
  color: gray;
}

.Phonetic .text {
  opacity: 0.5;
  font-weight: bold;
}
