.Synonyms {
  margin: 15px 0 0;
  padding: 0;
}

.Synonyms li {
  display: inline-block;
  margin: 4px;
  font-size: 14px;
  line-height: 1;
  border: 1px solid #3a4874;
  padding: 8px 14px;
  border-radius: 20px;
  color: #0c3658;
}
